body{
    background-image: url("https://s3.amazonaws.com/thinkific-import-development/292401/background-210125-235634.png");
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* basic setting end */

/*header*/
#title{
    color: #f64435;
    font-size: 35px;
}

main{
    width : 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.cardContainer{
    color: #f64435;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navListWrapper{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.navListWrapper li{
    color: white;
    margin: 10px;
    background-color: #f64435;
    width: 100%;
    text-align: center;
    padding: 10px 3px
}
.navListWrapper li:hover{
    background-color: blue;
}
/*footer*/
footer{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
}

footer a{
    color: #2d2d2d;
}

/*contents start*/

.cardWrapper{
    background-color: #302E30;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page{
    width: 100%;
    padding: 0 10px;
}


.element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
    max-height: 250px;
    margin: 2vh 0;
}


.deleteButton{
    background-color:  #302E30;
    border: none;
    color:  #f64435;
    font-size: 18px;
    margin-right: 20px;
}



/*Image Component*/
.imageAndTextWrapper{
    display: flex;
    align-items: center;
}

.imageAndTextWrapper img{
    width: 500px;
    height: 250px;
}
.imageAndTextWrapper span {
    margin-left: 20px;
    color: ivory;
    font-size: 18px;
}





/*Note Component*/
.noteTitleWrapper{
    display: flex;
    flex-direction: column;
}

.noteTitle{
    font-size: 25px;
    color: yellow;
    margin-bottom: 30px;
}

.noteContent{
    color: white;
    margin-left: 10px;
}

/*Todo Component*/
.todoWrapper{
    /* display: flex; */
    padding: 0;
}

.todoWrapper div{
    margin: 10px;
}

.todoItem{
    margin-left: 20px;
    color: white;
}

.toDoTitle{
    font-size: 25px;
    color: yellow;
    margin-bottom: 30px;
}

.todoContainer{
    display: flex;
    flex-direction: column;
}


/*Video Component*/
.videoWrapper{
    display: flex;
    align-items: flex-start;
}
.videoWrapper span{
    color: yellow;
    font-size: 20px;
    margin-left: 30px;
}
/*PopUp Component*/

.popUpContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(123, 120, 120, 0.3) /* Green background with 30% opacity */

}

.popUpWrapper{
    display: flex;
    flex-direction: column;
    background-color: #5B5A5B;
    width: 45vw;
    padding: 1vw;
    position: relative;
    opacity: 1;
}
.popUpWrapper div{
    display: flex;
    flex-direction: column;}

.popUpWrapper input{
    height: 4vh;
    margin: 1vh;
    background-color: rgba(123, 120, 120, 0.3);
    color: white;
}
.popUpWrapper span{
    margin: 1vh;
    color: yellow;
}

.submitButton{
    margin: 1vh;
    height: 4vh;
    background-color: #f64435;
    color: white;
    border:none;
}

.addTodoButton{
    margin: 1vh;
    height: 4vh;
    background-color: #f64435;
    color: white;
    border:none;

}


.quitButton {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #f64435;
    color: white;
    border:none;
}

.dissaper{
    display: none;
}

/* 
 {

    --bg-main-color: #00000080;
  
    --bg-accent-color: #2d2d2d;
  
    --accent-color: #f64435;
  
    --text-accent-color: #ffe498;
  
    --text-edit-bg-color: #575757;
  
    --border-color: #3f3f3f;
  
    --shadow-color: #202020;
  
    --document-bg-color: #68686850;
  
    --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  
    --smokywhite: #dddbd8;
  
    --black: #000000;
  
    --translucent-black: #00000099;
  
  } */